::ng-deep .p-button.active {
  border-color: #1a75ae !important;
  background-color: #1a75ae !important;
  color: #fff !important;

  .p-button-label {
    font-weight: 600;
    color: #fff !important;
  }

  .p-button-icon {
    color: #fff !important;
  }
}
